.progressBar {
  @apply flex flex-col justify-center text-center whitespace-nowrap overflow-hidden bg-secondary text-primary;
  transition: width 1.5s ease;
}

.progress {
  @apply flex text-xs rounded overflow-hidden h-4 bg-primary border border-secondary;
  line-height: 0;
  font-size: 0.75rem;
}
