.card,
.color-card {
    border: 3px solid transparent;
    border-radius: 2.5%;
}

.card-body {
    padding: 0.5rem;
}

.card-footer {
    padding: 0.5rem !important;
    border-top: none;
}

.badge:empty {
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
}

#colorList {
    line-height: 1.15rem;
}
