#about > *, #heading > * {
    @apply animate-slideUp opacity-0;
}

#heading > *:nth-child(1) {
    animation-delay: 0s;
}
#heading > *:nth-child(2) {
    animation-delay: 0.2s;
}
#about > *:nth-child(1) {
    animation-delay: 0.4s;
}
#about > *:nth-child(2) {
    animation-delay: 0.6s;
}
#about > *:nth-child(3) {
    animation-delay: 0.8s;
}
#about > *:nth-child(4) {
    animation-delay: 1s;
}
#about > *:nth-child(5) {
    animation-delay: 1.2s;
}

#socials > * {
    @apply animate-slideUp opacity-0;
}

#socials > *:nth-child(1) {
    animation-delay: 0.3s;
}
#socials > *:nth-child(2) {
    animation-delay: 0.35s;
}
#socials > *:nth-child(3) {
    animation-delay: 0.4s;
}

#scroll {
    @apply animate-slideUp opacity-0;
    animation-delay: 1.3s;
}
