:root {
  --main-bg: #071625;
  --main-text: #d49f1b;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background: var(--main-bg);
  color: var(--main-text);
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
}

a,
a:hover {
  color: var(--main-text);
}

/* #main {
    height: 100%;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} */

.j-link,
.j-link:hover {
  text-decoration: none !important;
}

.j-link:hover {
  filter: brightness(150%) !important;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 3rem;
  color: #997415;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.custom-control-label::before {
  background-color: var(--main-bg);
  border-color: var(--main-text);
}

.form-control {
  background-color: var(--main-bg);
  color: var(--main-text);
  border-color: var(--main-text);
  filter: brightness(105%);
}

.form-control::placeholder {
  color: var(--main-text);
  opacity: 0.6;
}

.form-control:focus {
  background-color: var(--main-bg);
  color: var(--main-text);
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--main-text);
  border-color: var(--main-text);
  color: var(--main-bg);
}

.links {
  padding-top: 15px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

[class^='anim'] {
  color: var(--main-text);
}

#logo {
  opacity: 0;
  animation: 2.25s appear forwards;
  margin: auto;
}

#introContainer h1 * {
  opacity: 0;
  animation: appear;
  animation-fill-mode: forwards;
}

#introContainer h1 span:first-child {
  animation: slideFromLeft, appear;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    margin-left: -3.5rem;
  }
  to {
    margin-left: 0;
  }
}

.button--gold {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid var(--main-text);
  color: var(--main-text);
  background-color: var(--main-bg);
  text-decoration: none;
  padding: 10px 30px;
  transition: color 0.3s, background-color 0.3s;
}

.button--gold:hover {
  color: var(--main-bg);
  background-color: var(--main-text);
}

#elsewhereContainer,
#progressContainer {
  opacity: 0;
}

#eduProgressBar {
  background-color: var(--main-text);
  transition: width 1.5s ease;
}

#eduProgressBarWrapper {
  background-color: var(--main-bg);
  border: 1px solid var(--main-text);
}
