@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-body;
  }

  @screen md {
    body {
      @apply text-body-md;
    }
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
}

:root {
  --main-bg: #071625;
  --main-text: #d49f1b;
  --color-link: #0c2640;
}

:root {
  --color-primary: #071625;
  --color-secondary: #d49f1b;
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background: var(--color-primary);
  color: var(--color-secondary);
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
}

html,
body,
#__next {
  height: 100% !important;
}

#__next {
  display: flex;
  flex-direction: column;
}

main.with-header {
  padding-top: 50px;
  flex-shrink: 0 !important;
}

main.home {
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

a,
a:hover {
  color: var(--color-secondary);
}

.form {
  @apply mx-auto flex flex-col;
}

.form-group {
  @apply inline-flex flex-col mb-3;
}

form textarea,
form input {
  @apply focus:ring-offset-transparent focus:ring-secondary-dark focus:ring-1;
}

textarea {
  @apply rounded bg-transparent border-secondary focus:border-current;
}

footer a,
footer a.link-animated-hover {
  @apply ml-4 first:ml-0;
}

.link-animated-hover {
  @apply inline-block no-underline rounded px-0.5 -mx-px transition-colors duration-75 ease-linear;
}

p a.link-animated-hover {
  color: #ffce55;
}

.link-animated-hover::after {
  @apply relative rounded top-0.5 block w-full h-0.5 mx-auto my-0 bg-secondary transition-transform duration-150 ease-linear origin-center;
  box-shadow: 0 0 0.45rem 0.075rem var(--main-text);
  transform: scaleX(0);
  content: '';
}

.link-animated-hover:hover.link-animated-hover::after,
.link-animated-hover:focus.link-animated-hover::after {
  transform: scaleX(1);
}

.j-link,
.j-link:hover {
  @apply no-underline;
}

p a.j-link,
.j-link:hover {
  @apply text-secondary-light;
}

p a.j-link:hover {
  @apply underline;
}

button:focus {
  @apply focus:ring focus:outline-none focus:ring-secondary-dark;
}

.btn {
  @apply mx-1 py-2 px-8 rounded transition-colors duration-300;
}

.btn-sm {
  @apply px-2 py-1 text-sm;
}

.btn-outline {
  @apply border bg-primary text-secondary border-secondary hover:bg-secondary hover:text-primary;
}

.btn-primary {
  @apply border bg-secondary text-primary hover:bg-primary hover:text-secondary hover:border-secondary;
}

.btn-link {
  @apply hover:text-secondary-light;
}

.fixed-top {
  @apply fixed inset-x-0 top-0 z-50;
}

.section-title {
  @apply text-4xl text-secondary-dark;
  font-weight: 300;
  letter-spacing: 1px;
}

@screen md {
  .section-title {
    @apply text-5xl;
  }
}

.custom-control-label::before {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
}

.form-control {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  filter: brightness(105%);
}

.form-control::placeholder {
  color: var(--color-secondary);
  opacity: 0.6;
}

.form-control:focus {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary);
}

#logo {
  opacity: 0;
  animation: 2.25s appear forwards;
  margin: auto;
}

#introContainer h1 * {
  opacity: 0;
  animation: appear;
  animation-fill-mode: forwards;
}

#introContainer h1 span:first-child {
  animation: slideFromLeft, appear;
  animation-fill-mode: forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    margin-left: -3.5rem;
  }
  to {
    margin-left: 0;
  }
}
